.idea
error_log
tap-in-servers.sublime-project
tap-in-servers.sublime-workspace
include/.vscode
businessinfo/error_log
paymentsystem/error_log
customer_files/icons/brazilian_house_logo.jpg
customer_files/icons/brazilian_house_logo_orig.png
customer_files/bg_images/brazilian_house_logo.png
profilesystem/customer_files
adminpanel
/notification/TapInCert_dev.pem
/notification/TapInCert_prod.pem
customer_files/
/nbproject/private/